.bg-grad {
  background-image: linear-gradient(rgb(151, 90, 20),#161616, #161616);
}

.delete {
  height: 48px;
  width: 48px;
  font-size: xx-large;
}

.mat-icon {
  display: flex;
}

.pic {
  height: 150px;
  width: 150px;
}