.window {
  width: 500px
}

.inputs {
  width: 60%;
}

.mdc-notched-outline__notch
{
  border-right: none;
}

textarea {
  resize: none;
}

.rounded {
  --mdc-filled-button-container-shape: 40px
}

.pic{
  height: 180px;
  width: 180px;
}