<div class="bg-grad h-full rounded-lg pad-top-10">
  @if(playlistFacade.playlist$| async; as playlist) {
  <div class="pad-x-10 h-full flex flex-col overflow-auto">
    <div class="w-full flex justify-end">
      <button
        (click)="playlistFacade.deletePlaylist()"
        class="delete"
        mat-icon-button
      >
        <mat-icon class="items-center justify-center delete">
          delete_outline
        </mat-icon>
      </button>
    </div>
    <div class="w-full flex flex-row top-half">
      <div class="collage rounded-lg">
        <app-collage [trackIds]="playlist.tracks"></app-collage>
      </div>
      <div class="flex flex-col justify-end margin-x-8">
        <div>
          <span>Public Playlist</span>
        </div>
        <div class="flex flex-col">
          <span
            (click)="editPlaylistDetails(playlist)"
            class="cursor-pointer text-7xl"
            >{{ playlist.title }}
          </span>
          <span class="flex items-center text-gray description">
            {{ playlist.description }}
          </span>
        </div>
        <div>
          <span class="">{{
            (playlistFacade.playlistAuthor$ | async)?.username
          }}</span>
          <span class="margin-x-3 text-gray">•</span>
          <span class="text-gray">{{ playlist.tracks.length }} songs,</span>
          <span class="text-gray margin-x-3"
            >{{ playlistLengthMinutes$ | async }} min
            {{ playlistLengthSeconds$ | async }} sec</span
          >
        </div>
      </div>
    </div>
    <div class="rounded-lg margin-top-10 w-full h-full">
      <table
        class="table"
        mat-table
        [dataSource]="(trackFacade.playlistTracks$ | async) ?? []"
      >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>
            <span class="text-gray flex justify-start">#</span>
          </th>
          <td mat-cell *matCellDef="let track; let i = index">
            <span class="text-gray flex justify-start">{{ i + 1 }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>
            <span class="text-gray flex justify-start">Title</span>
          </th>
          <td mat-cell *matCellDef="let track">
            <div class="flex flex-row justify-start">
              <div class="icon margin-right-5 margin-y-5">
                <img class="rounded-md" src="{{ track.img }}" />
              </div>
              <div class="flex flex-col margin-top-3">
                <span class="title-width text-lg">{{ track.title }}</span>
                <span class="text-gray">{{ track.artist }}</span>
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="album">
          <th mat-header-cell *matHeaderCellDef>
            <span class="text-gray flex justify-start">Album</span>
          </th>
          <td mat-cell *matCellDef="let track">
            <span class="text-gray flex justify-start">{{ track.album }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef>
            <span class="text-gray flex justify-start">Release Year</span>
          </th>
          <td mat-cell *matCellDef="let track">
            <span class="text-gray flex justify-start">{{ track.year }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="length">
          <th mat-header-cell *matHeaderCellDef>
            <span class="flex justify-end pad-right-20"
              ><mat-icon>access_time</mat-icon></span
            >
          </th>
          <td mat-cell *matCellDef="let track">
            <span class="text-gray flex justify-end pad-right-20">{{
              track.length | time
            }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="d">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let track">
            <div class="delete-width">
              <button
                [ngClass]="track.showDelete ? 'visible' : 'hidden'"
                class="text-gray"
                mat-icon-button
                (click)="removeFromPlaylist($event, track.id)"
              >
                <mat-icon>delete_outline</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          class="show-on-hover cursor-pointer"
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="trackFacade.loadTrack(row.id)"
          (mouseover)="row.showDelete = true"
          (mouseleave)="row.showDelete = false"
        ></tr>
      </table>
    </div>
  </div>
  }
</div>
