<div class="bg-side h-full rounded-lg pad-x-5 pad-top-5">
  @if (authFacade.authUserId$| async; as userId) {
  <div class="flex items-center margin-y-5">
    <mat-icon>library_music</mat-icon>
    <span class="margin-x-5">Your Library</span>
  </div>
  <div class="flex flex-row">
    @for(m of modes; track m) {
    <app-option-select
      [label]="m"
      [mode]="(mode$ | async) ?? undefined"
      (labelEmitter)="selectMode($event)"
    ></app-option-select>
    } @if(mode$ | async; as mode) {
    <div
      (click)="
        mode == 'Playlists'
          ? playlistFacade.addPlaylist(userId)
          : trackFacade.addTrack()
      "
      class="h-full cursor-pointer flex justify-center items-center"
    >
      <span
        class="show-on-hover pad-x-3 pad-y-2 selected-border bg-button flex rounded-full justify-center items-center"
      >
        <mat-icon>add</mat-icon>
      </span>
    </div>
    }
  </div>
  <div class="margin-top-10 scroll-pane">
    @for(t of filteredList$ | async; track t) {
    <app-side-menu-item
      [selectedItem]="(selectedItem$ | async) ?? undefined"
      [item]="t"
      (emitter)="selectItem($event)"
    >
    </app-side-menu-item>
    }
  </div>
  }
</div>
