@if (item) {
<div
  class="cursor-pointer pad-y-3 rounded-lg w-full flex flex-row items-center"
  [ngClass]="
    selectedItem && selectedItem.type == item.type && selectedItem.id == item.id
      ? 'selected-mode'
      : 'show-on-hover'
  "
  (click)="selectItem(item)"
>
  <div class="margin-x-3 overflow-hidden">
    @if (item.type == "playlist") {
    <mat-icon class="text-3xl track-pic"> queue_music </mat-icon>
    } @else {
    <img class="rounded-lg track-pic" src="{{ item.img }}" />
    }
  </div>
  <div class="flex flex-col">
    <span class="flex flex-nowrap">
      {{ item.title }}
    </span>
    <span class="text-gray">{{ item.type | titlecase }}</span>
  </div>
</div>
}
